/*Authors:Erinn Mouton, Nathan Just*/
/*Date: 7 September 2024*/
/*Description: This style page includes styles for the header, navigation menu, main content, contact section, and footer*/



@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(224.4, 78.3%, 27.1%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: rgb(255, 253, 254);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin: 0 auto;
}

.main {
  position: relative;
}

.main_contact_bg {
  background-color: #162769;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 85vh;
  position: relative;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__logo img {
  max-width: 100%;
  height: 70px;
  width: auto;
  display: block;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/*============= MAIN CONTENT ===========*/
.content {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left-side {
  flex: 1;
  padding: 20px;
  margin: 1cm 0;
  padding-top: 2cm;
}

.content-left-side h1 {
  font-size: 2.7rem;
  color: rgb(29, 28, 28);
  margin-bottom: 0.5cm;
}

.content-left-side p {
  color: rgb(29, 28, 28);
  margin-bottom: 0.9cm;
}

.contact h1 {
  font-size: 2.7rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0.5cm;
}

.contact p {
  color: rgb(255, 255, 255);
  margin-bottom: 0.9cm;
}

.content-right-side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 3cm;
  margin-bottom: 1cm;
}

.content-right-side img {
  height: 500px;
  width: 450px;
  border-radius: 6px;
  padding-top: 20px;
}

.content-centered {
  flex: 1;
  padding: 20px;
  margin: 1cm 0;
  padding-top: 2cm;
}

.content-centered h1 {
  font-size: 2.7rem;
  color: rgb(29, 28, 28);
  margin-bottom: 0.5cm;
  text-align: center;
}

.content-centered p {
  color: rgb(29, 28, 28);
  margin-bottom: 0.9cm;
}

.button {
  background-color: #1a2d7a;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 9px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin-top: 0.3cm;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}


/*=============Map==================*/

.content-centered {
  width: 100%; /* Full width */
  max-width: 1120px; /* Optional: Max width for larger screens */
  margin: 0 auto; /* Center the content */
}

.content-centered iframe {
  width: 100%; /* Full width of its container */
  height: 450px; /* Fixed height, adjust if necessary */
  border: 0; /* Remove border */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .content-centered iframe {
      height: 300px; /* Adjust height for smaller devices */
  }
}

@media (max-width: 480px) {
  .content-centered iframe {
      height: 250px; /* Further adjust height for very small devices */
  }
}


/*============= Form ===============*/
.contact-form {
  background-color: white; /* White background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.contact-form .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 20px;
}

.contact-form .form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form .form-field label {
  margin-bottom: 5px;
  font-weight: 500;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.contact-form .form-group input[type="text"] {
  flex: 1 1 48%;
}

.contact-form .form-group input[type="email"] {
  flex: 1 1 100%;
}

.contact-form .form-group textarea {
  height: 100px;
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}

.contact-form button:hover {
  background-color: darken(var(--first-color), 10%);
}

/*=============== Contact Us ===============*/
.contact-section {
  background-color: #1a2d7a; /* Dark blue background */
  color: white;
  padding: 80px;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.contact-section h1 {
  margin: 0;
  font-size: 2.7rem;
}

.contact-section p {
  margin: 15px 0;
  font-size: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Contact info layout for larger screens */
@media (min-width: 768px) {
  .contact-info {
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-info p {
    width: auto;
    flex: 1;
    text-align: left;
  }
}

/* Icons for contact info */
.contact-info p::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.contact-info p:first-child::before {
  background-image: url("../img/tel_img.png");
}

.contact-info p:nth-child(2)::before {
  background-image: url("../img/email_img.png");
}

.contact-info p:last-child::before {
  background-image: url("../img/location_img.png");
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-section h1 {
    font-size: 2rem;
  }

  .contact-info p {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .contact-section {
    padding: 40px;
  }

  .contact-section h1 {
    font-size: 1.8rem;
  }

  .contact-section p {
    font-size: 0.9rem;
  }

  .contact-info p {
    font-size: 0.8rem;
  }
}


 /*================Footer====================*/

 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      font-size: 0.8rem;
  }

/*=============== DIFFERENT DEVICES ===============*/
/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (max-width: 768px) {
  .contact-form .form-group {
    flex-direction: column;
    gap: 0;
  }

  .contact-form .form-group input[type="text"] {
    flex: 1 1 100%;
  }
}
